<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>
        <button onclick="editUser({{id}})">Edit</button>
        <button onclick="deleteUser({{id}})">Delete</button>
      </td>
    </tr>
  </tbody>
</table>